<div class="container">
  <div class="row">

    <div class="col-lg-12">
      <mat-card *ngIf="this.response =='' && this.data.fromComponent == 'borrow'">
        <mat-card-title>Confirmation</mat-card-title>

        <mat-card-content>

          Are you sure you want to perform this action??
        </mat-card-content>

        <mat-card-actions align="center">
          <button mat-raised-button color="primary"
            (click)="confirm(this.data.location, this.data.location.bookId)">Confirm</button>
          <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngIf="this.response!=''">
        <mat-card-title>Confirmation</mat-card-title>

        <mat-card-content>

          Are you sure you want to perform this action??
        </mat-card-content>

        <mat-card-actions align="center">

          <button mat-raised-button color="warn" (click)="cancel()">Ok</button>
        </mat-card-actions>
      </mat-card>


    </div>
  </div>
</div>