<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <mat-card-title style="align-content: center">Borrow Book History</mat-card-title>
            <br><br><br>
            <div class="mat-elevation-z8">
                <table>

                    <tr>
                        <th>Book Name
                        </th>
                        <th>Book Author
                        </th>
                        <th>Borrowed Date
                        </th>
                        <th>Released Date

                    </tr>
                    <!-- <tr *ngFor="let account of accountHistory">
                        <td>{{account.transactionDate}}
                        </td>
                        <td>{{account.toAccount}}
                        </td>
                        <td>{{account.transactionType}}
                        </td>
                        <td>{{account.amount}}
                        </td>
                    </tr> -->
                </table>
                <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>