@import '~@angular/material/theming';
@include mat-core();

//Theme ING WHITE MODE
$Ing-primary : mat-palette($mat-orange);
$Ing-accent:  mat-palette($mat-indigo, A200, A100, A400);
$Ing-warn:  mat-palette($mat-red);
$Ing-theme: mat-light-theme($Ing-primary, $Ing-accent, $Ing-warn);
@include angular-material-theme($Ing-theme);

//Theme ING DARK MODE
$Ing-primary : mat-palette($mat-orange);
$Ing-accent:  mat-palette($mat-indigo, A200, A100, A400);
$Ing-warn:  mat-palette($mat-red);
$Ing-dark-theme: mat-dark-theme($Ing-primary, $Ing-accent, $Ing-warn);

.alternative{
  @include angular-material-theme($Ing-dark-theme);
}



